aiobotocore==1.3.3
ipdb
pandas 
matplotlib
numpy==1.12
tellurium
holoviews
google-cloud-storage
git+https://github.com/iterative/dvc.git
dvc[gs]
papermill
nbformat
jupyterlab
git+https://github.com/gifford-lab/prescient.git
leidenalg
git+https://github.com/BioNinja/gseapy.git#egg=gseapy
fs
nbstripout
ipython-cypher
pyvipr
tellurium
Cython
jupyter_contrib_nbextensions
pysb
sympy==1.8
scTenifoldpy
